<div class="page">
  <main>
    <div class="head">Restaurants</div>
    <div class="grid">
      <figure
        *ngFor="let restaurant of data"
        (click)="setCurrent(restaurant)"
        class="card"
      >
        <img src="" class="img" />
        <figcaption>
          <h3>{{ restaurant.name }}</h3>
          <p>{{ restaurant.cuisine_type }}</p>
        </figcaption>
      </figure>
    </div>
  </main>
  <div *ngIf="!!current" class="overlay overlay--details">
    <img
      src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      alt=""
      class="img img--bg"
    />
    <div class="content">
      <header class="header">
        <h3>{{current.name}} Menu</h3>
        <div (click)="removeOverlay()" class="btn btn--icon" role="button">
          CLOSE
        </div>
      </header>
      <div class="tab-wrapper">
        <div class="tab-head">
          <span
            *ngFor="let cat of catergories"
            class="tab"
            [ngClass]="{'tab--active': cat.title === activeCat.title}"
            (click)="setCurrentCat(cat)"
            >{{ cat.title }}</span
          >
        </div>
        <div class="tab__content">
          <div class="shadow"></div>
          <ul class="menu">
            <li *ngFor="let menu_item of activeCat.items" class="menu__item">
              <div class="item__label">
                <span class="name">{{ menu_item.name }}</span
                ><span class="price"
                  >{{ menu_item.price | currency: "R" }}</span
                >
              </div>
              <div>
                <span class="minor">{{ menu_item.size }}</span>
              </div>
            </li>
          </ul>
          <div class="shadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
