/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Albra Regular";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630239/fonts/bev/FontsFree-Net-AlbraRegular.ttf);
}
@font-face {
  font-family: "Armasen Kelson Light";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630238/fonts/bev/Armasen_-_Kelson-Light.otf);
}
@font-face {
  font-family: "Armasen Kelson";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630238/fonts/bev/Armasen_-_Kelson.otf);
}
@font-face {
  font-family: BebasNue;
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511181/fonts/bev/BebasNeue_Regular.otf);
}
@font-face {
  font-family: AvenirNextCondensed;
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511175/fonts/bev/AvenirNextCondensed-Regular.ttf);
}
@font-face {
  font-family: "AvenirNextCondensed Bold";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511178/fonts/bev/AvenirNextCondensed-Bold.ttf);
}
@font-face {
  font-family: "Arial";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511182/fonts/bev/Arial.ttf);
}
@font-face {
  font-family: "Avenir";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511191/fonts/bev/Avenir.ttc);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-accent: #f52e26;
}
html,
body {
  font-family: "Armasen Kelson";
  font-size: 18px;
}
.nav {
  display: flex;
}
.nav--top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  background-color: green;
}
.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Armasen Kelson";
}
